body{
background:#d4e157;
}

.nav-wrapper{
    background-color:#1de9b6;
}


.footer-fixed{
    background-color: #1de9b6;
}

a.brand-logo{
    width: 120px;
    height: 120px;
    margin: 0%;
    padding: 0%;
}

img#pokemon-logo.responsive-img{
    width: 120px;
    height: 120px;
    margin: 0%;

}

div.card{
    height: 230px;
    border-radius: 5%;
}